.footer {
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 30px;

  a {
    margin-right: 10px;
  }

  &__navigation {
    list-style: none;
    padding: 0;
    line-height: 1.7;
    text-transform: uppercase;
  }

  .col-12 {
    margin-bottom: 30px;
  }
}
